<div ng-app="smb">
	<div ng-controller="daneFirmyController">
		<form ng-submit="saveForm()">
			<div class="col-md-6">
				<div class="col-md-12">
					<div style="margin-bottom: 20px" class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-user"></i></span> <input id="register_name"
							type="text" class="form-control" name="register_name"
							ng-model="firma.name" value="" placeholder="Nazwa firmy">
					</div>
					<div style="margin-bottom: 20px" class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-user"></i></span> <input id="register_name"
							type="text" class="form-control" name="register_name"
							ng-model="firma.nip" placeholder="Nip">
					</div>
				</div>
				<div style="padding-top: 30px" class="panel-body col-md-12">
					<div style="margin-bottom: 20px" class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-envelope"></i></span> <input
							id="register_post_code" type="email" class="form-control"
							name="register_post_code" ng-model="firma.mail"
							placeholder="Mail" required>
					</div>
					<div style="margin-bottom: 20px" class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-phone-alt"></i></span> <input
							id="register_post_code" type="text" class="form-control"
							name="register_post_code" ng-model="firma.telefon"
							placeholder="Telefon" required pattern="\d+">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div style="margin-bottom: 20px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-home"></i></span> <input id="register_email"
						type="text" class="form-control" name="register_email"
						ng-model="firma.ulica" placeholder="Ulica" required>
				</div>
				<div style="margin-bottom: 20px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-home"></i></span> <input id="register_phone"
						type="text" class="form-control" name="register_phone"
						ng-model="firma.nr_bud" placeholder="Nr budynku" pattern="\d+">
				</div>
				<div style="margin-bottom: 20px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-home"></i></span> <input id="register_street"
						type="text" class="form-control" name="register_street"
						ng-model="firma.nr_lok" value="" placeholder="Nr lokalu" required>
				</div>
				<div style="margin-bottom: 20px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-home"></i></span> <input
						id="register_building_number" type="text" class="form-control"
						name="register_building_number" ng-model="firma.kod_pocz"
						placeholder="Kod pocztowy" required>
				</div>
				<div style="margin-bottom: 20px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-home"></i></span> <input
						id="register_flat_number" type="text" class="form-control"
						name="register_flat_number" ng-model="firma.miasto"
						placeholder="Miasto">
				</div>
				<div class="col-md-12" style="margin-top: 10px; text-align: right">
					<input type="submit" id="btn-save-form" class="btn btn-success"
						value="Zapisz">
				</div>
			</div>
		</form>
	</div>
</div>
