<div ng-app="smb" ng-controller="zgloszenieController">
<div class="row">
		<div class="col-lg-12">
			<div class="well well-md">
				<input id="szuaj_oferta" type="text" class="form-control"
					name="username" ng-model="search" value=""
					placeholder="Czego szukasz ?">
			</div>
		</div>
	</div>
	<div class="col-md-12" style="margin: 20px; padding-left: 25px">
			<button type="button" class="btn btn-primary btn-md"
				ng-click="goToMy()">
				</span> Moje
			</button>
			<button type="button" class="btn btn-default btn-md"
				ng-click="goToAll()">
				</span> Wszystkie
			</button>
		</div>
			<h4>Twoje zgloszenia:</h4>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Lp.</th>
							<th>Data zgłoszenia</th>
							<th>Kategoria</th>
							<th>Temat</th>
							<th>Klient</th>
							<th>Status</th>
							<th>Data zakończenia</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="zgloszenie in zgloszenia | filter:search" style="cursor: pointer;"
							ng-click="showDetail(zgloszenie)">
							<td>{{$index+1}}</td>
							<td>{{zgloszenie.data_zgloszenia | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{zgloszenie.kategoria}}</td>
							<td>{{zgloszenie.temat}}</td>
							<td>{{zgloszenie.klient}}</td>
							<td>{{zgloszenie.status}}</td>
							<td>{{zgloszenie.data_zamkniecia | date:'yyyy-MM-dd HH:mm:ss'}}</td>
						</tr>
					</tbody>
				</table>
			</div>