<div class="container" ng-app="smb">
	<div id="loginbox" style="margin-top: 50px;" ng-controller="registerController"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Rejestracja</div>
			</div>
			<div style="padding-top: 30px" class="panel-body">
				<form id="loginform" class="form-horizontal">
					<div style="margin-bottom: 20px" class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-user"></i></span> <input id="reqister-username"
							type="text" class="form-control" name="username"
							ng-model="register_username" value="" placeholder="login">
					</div>
					<div style="margin-bottom: 20px" class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-lock"></i></span> <input id="reqister-password"
							type="password" class="form-control" name="password"
							ng-model="register_password" placeholder="hasło">
					</div>
					<div style="margin-bottom: 20px" class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-envelope"></i></span> <input id="reqister-email"
							type="email" class="form-control" name="email"
							ng-model="register_email" placeholder="email">
					</div>
					
					<div style="margin-top: 10px" class="form-group" >
					
						<div class="col-sm-2 controls">
							<button id="btn-login" ng-click="registerSubmit()"
								class="btn btn-success">Zarejestruj</button>
						</div>
						<div class="col-sm-2 controls">
							<a id="btn-login" ng-click="goToLoggin()"
								class="btn btn-fail">Logowanie</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
