<div class="container" ng-app="smb">
	<div ng-controller="registerController">
		<form id="loginform" class="form-horizontal" ng-submit="registerPersonSubmit()">
			<div id="loginbox" class="col-md-12 col-sm-2">
				<div class="row">
					<div class="col-md-8" style="margin: 20px; padding-left: 25px">
						<button type="button" class="btn btn-primary btn-md"
							ng-click="goToRegPerson()">
							</span> Osoba prywatna
						</button>
						<button type="button" class="btn btn-default btn-md"
							ng-click="goToRegCompany()">
							</span> Firma
						</button>
					</div>
					<div class="panel-body col-md-12">
						<div class="col-md-6">
							<div class="col-md-12">
								<div style="margin-bottom: 20px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-user"></i></span> 
										<input
										id="register_name" 
										type="text" class="form-control"
										name="register_name" 
										ng-model="register_name" 
										value=""
										placeholder="Imię" 
										required>
								</div>
								<div style="margin-bottom: 20px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-user"></i></span> <input
										id="register_name" type="text" class="form-control"
										name="register_name" ng-model="register_surname"
										placeholder="Nazwisko" required>
								</div>
								<div style="margin-bottom: 20px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span> <input
										id="register_login" type="text" class="form-control"
										name="register_login" ng-model="register_login"
										placeholder="Login" required  maxlength="10" min="3">
								</div>
								<div style="margin-bottom: 20px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span> <input
										id="register_password" type="password" class="form-control"
										name="register_password" ng-model="register_password" value=""
										placeholder="Hasło" required>
								</div>
							</div>
							<div style="padding-top: 30px" class="panel-body col-md-12">
								<div style="margin-bottom: 20px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-envelope"></i></span> <input
										id="register_email" type="email" class="form-control"
										name="register_email" ng-model="register_email"
										placeholder="E-mail" required>
								</div>
								<div style="margin-bottom: 20px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-phone-alt"></i></span> <input
										id="register_phone" type="text" class="form-control"
										name="register_phone" ng-model="register_phone"
										placeholder="Telefon kontaktowy" pattern="\d+">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div style="margin-bottom: 20px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-home"></i></span> <input
									id="register_street" type="text" class="form-control"
									name="register_street" ng-model="register_street" value=""
									placeholder="Ulica" required>
							</div>
							<div style="margin-bottom: 20px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-home"></i></span> <input
									id="register_building_number" type="text" class="form-control"
									name="register_building_number"
									ng-model="register_building_number" placeholder="Numer domu"
									required>
							</div>
							<div style="margin-bottom: 20px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-home"></i></span> <input
									id="register_flat_number" type="text" class="form-control"
									name="register_flat_number" ng-model="register_flat_number"
									placeholder="Numer mieszkania">
							</div>
							<div style="margin-bottom: 20px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-home"></i></span> <input id="register_city"
									type="text" class="form-control" name="register_city"
									ng-model="register_city" placeholder="Miejscowość" required>
							</div>
							<div style="margin-bottom: 20px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-home"></i></span> <input
									id="register_post_code" type="text" class="form-control"
									name="register_post_code" ng-model="register_post_code"
									placeholder="Kod pocztowy" required>
							</div>
							<div class="col-md-12" style="margin: 20px; text-align: right">
								<div class="col-sm-9">
									<a id="btn-rejestracja" ng-click="goToLoggin()" class="btn ">Logowanie</a>
								</div>
								<div class="col-sm-3">
									<input type="submit" id="btn-login"
										class="btn btn-success" value="Zarejestruj">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>
