<div class="container" ng-app="smb">
	<div ng-controller="registerController">
		<form id="loginform" class="form-horizontal">
			<div id="loginbox" class="col-md-12 col-sm-2">
				<div class="row">
					<div class="col-md-8" style="margin: 20px; padding-left: 25px">
						<button type="button" class="btn btn-default btn-md"
							ng-click="goToRegPerson()">
							</span> Osoba prywatna
						</button>
						<button type="button" class="btn btn-primary btn-md"
							ng-click="goToRegCompany()">
							</span> Firma
						</button>
					</div>
					<div class="panel-body col-md-12">
						<div class="col-md-6">
							<div class="col-md-12">
								<div style="margin-bottom: 20px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-briefcase"></i></span> <input
										id="register_namecompany" type="text" class="form-control"
										name="register_namecompany" ng-model="register_namecompany"
										value="" placeholder="Nazwa">
								</div>
								<div style="margin-bottom: 20px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-briefcase"></i></span> <input
										id="register_nip" type="text" class="form-control"
										name="register_nip" ng-model="register_nip" value=""
										placeholder="Nip">
								</div>
								<div style="margin-bottom: 20px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span> <input
										id="register_login" type="text" class="form-control"
										name="register_login" ng-model="register_login"
										placeholder="Login">
								</div>
								<div style="margin-bottom: 20px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span> <input
										id="register_password" type="password" class="form-control"
										name="register_password" ng-model="register_password" value=""
										placeholder="Hasło">
								</div>
							</div>
							<div style="padding-top: 30px" class="panel-body col-md-12">
								<div style="margin-bottom: 20px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-envelope"></i></span> <input
										id="register_email" type="email" class="form-control"
										name="register_email" ng-model="register_email"
										placeholder="E-mail">
								</div>
								<div style="margin-bottom: 20px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-phone-alt"></i></span> <input
										id="register_phone" type="text" class="form-control"
										name="register_phone" ng-model="register_phone"
										placeholder="Telefon kontaktowy">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div style="margin-bottom: 20px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-home"></i></span> <input
									id="register_street" type="text" class="form-control"
									name="register_street" ng-model="register_street" value=""
									placeholder="Ulica">
							</div>
							<div style="margin-bottom: 20px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-home"></i></span> <input
									id="register_building_number" type="text" class="form-control"
									name="register_building_number"
									ng-model="register_building_number" placeholder="Numer domu">
							</div>
							<div style="margin-bottom: 20px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-home"></i></span> <input
									id="register_flat_number" type="text" class="form-control"
									name="register_flat_number" ng-model="register_flat_number"
									placeholder="Numer mieszkania">
							</div>
							<div style="margin-bottom: 20px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-home"></i></span> <input id="register_city"
									type="text" class="form-control" name="register_city"
									ng-model="register_city" placeholder="Miejscowość">
							</div>
							<div style="margin-bottom: 20px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-home"></i></span> <input
									id="register_post_code" type="text" class="form-control"
									name="register_post_code" ng-model="register_post_code"
									placeholder="Kod pocztowy">
							</div>
							<div class="col-md-12" style="margin: 20px; text-align: right">
								<div class="col-sm-9">
									<a id="btn-rejestracja" ng-click="goToLoggin()" class="btn ">Logowanie</a>
								</div>
								<div class="col-sm-3">
									<button id="btn-login" ng-click="registerCompanySubmit()"
										class="btn btn-success">Zarejestruj</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	</form>
</div>
</div>
